@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Risque&display=swap');
@import "custom.scss";

body {
    background-color: whitesmoke;
}

.navbar-brand{
    font-family: 'Risque', cursive;
    font-size: 40px;
}

.book-name{
    font-family: 'Lobster', cursive;
    
    font-size: 20pt;
}

#s-img {
    width: 20px;
    height: 20px;
}

#ac-img{
    width: 50px;
    height:50px;
    border-radius: 50%;
}

.cart-icon{
    width: 50px;
    height: 50px;
}

.star-icon{
    width: 20px;
    height: 20px;
}

#headerbar{
    min-width: 900px;
}

#sidebar{
    width: 300px;
    min-width: 300px;
}

.carousel.slide{
    min-height: 500px;
}

.carousel-item{
    min-width: 1300px;
}