<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary sticky-top">
        <div class="container-fluid position-relative">
            <div class="d-flex justify-content-start w-75 align-items-center">
                <a class="navbar-brand" href="/home">HOME</a>
                <form class="d-flex h-50 w-100">
                    <input id = "search-form" class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success bg-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</body>