{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Book Store{% endblock %}

{% block content %}
<div class="row row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-4">
    {% for product in products %}
    <div class="col">
        <div class="card h-100 border-0" style="width: 18rem;">
            <a href="/detail/{{product.id}}" class="text-decoration-none fw-normal fst-normal text-dark h-100">
                <div class="card-header h-75 w-100 d-flex align-items-end">
                    <img src="{% static product.image %}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="book-name">{{product.name}}</h5>
                    <footer>{{product.price|floatformat:"0"}}</footer>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}